---
import BaseLayout from "@layouts/BaseLayout.astro";
import ContactCTA from "@components/Common/ContactCTA.astro";
import Hero from "@components/Common/Hero.astro";

const isEnglish = Astro.url.pathname.startsWith("/en");

const content = isEnglish
  ? {
      title: "About | Antonio Bermúdez",
      description: "About Antonio Bermúdez Rodríguez",
      backgroundTitle: "Background",
      p1: "With a solid background in Computer Engineering from the University of Malaga, I work as a Developer at Convotis, where I apply my knowledge in .NET Core and functional analysis. My experience is focused on the maintenance and development of enterprise applications, standing out for the proposal of improvements and migration of functions in Azure.",
      p2: "At Convotis, my current focus includes the development of enterprise applications in Angular, improving the user experience based on Figma designs. Migration of legacy technology to recent versions of .NET. In collaboration with my team, I have maintained event-driven applications, employing technologies such as Event Hub and Azure Functions...",
      educationTitle: "Education",
      educationP1:
        "I am currently studying Computer Engineering at the University of Malaga.",
      educationP2: "I have an AZ-900 Azure Fundamentals certification.",
      skillsTitle: "Skills",
      skillsP1:
        "My skills include functional analysis, .NET Core, Azure DevOps, SQL, Event Bus and Service Bus, AKS and microservices.",
    }
  : {
      title: "Sobre mí | Antonio Bermúdez",
      description: "Sobre Antonio Bermúdez Rodríguez",
      backgroundTitle: "Trayectoria",
      p1: "Con una sólida formación en Ingeniería Informática por la Universidad de Málaga, trabajo como Desarrollador en Convotis, donde aplico mis conocimientos en .NET Core y análisis funcional. Mi experiencia se centra en el mantenimiento y desarrollo de aplicaciones empresariales, destacando por la propuesta de mejoras y migración de funciones en Azure.",
      p2: "En Convotis, mi enfoque actual incluye el desarrollo de aplicaciones empresariales en Angular, mejorando la experiencia de usuario basada en diseños de Figma. Migración de tecnología legacy a versiones recientes de .NET. En colaboración con mi equipo, he mantenido aplicaciones event-driven, empleando tecnologías como Event Hub y Azure Functions...",
      educationTitle: "Formación",
      educationP1:
        "Actualmente estudio Ingeniería Informática en la Universidad de Málaga.",
      educationP2: "Cuento con la certificación AZ-900 Azure Fundamentals.",
      skillsTitle: "Habilidades",
      skillsP1:
        "Mis habilidades incluyen análisis funcional, .NET Core, Azure DevOps, SQL, Event Bus y Service Bus, AKS y microservicios.",
    };
---

<BaseLayout title={content.title} description={content.description}>
  <div class="stack gap-20">
    <main class="wrapper about">
      <section>
        <h2 class="section-title">{content.backgroundTitle}</h2>
        <div class="content">
          <p>{content.p1}</p>
          <p>{content.p2}</p>
        </div>
      </section>

      <section>
        <h2 class="section-title">{content.educationTitle}</h2>
        <div class="content">
          <p>{content.educationP1}</p>
          <p>{content.educationP2}</p>
        </div>
      </section>

      <section>
        <h2 class="section-title">{content.skillsTitle}</h2>
        <div class="content">
          <p>{content.skillsP1}</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
