---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "@components/Common/ContactCTA.astro";
import PortfolioPreview from "@components/Portfolio/PortfolioPreview.astro";
import Hero from "@components/Common/Hero.astro";
import Grid from "@components/Common/Grid.astro";
import { getLangStaticPaths } from "../../utils/routing";
import { workI18n } from "../../i18n/pages/collections";

export const getStaticPaths = getLangStaticPaths;

const { lang } = Astro.params;

const projects = (
  await getCollection("work", ({ id }) => {
    return id.startsWith(`${lang}/`);
  })
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

const content = workI18n[lang as keyof typeof workI18n];
---

<BaseLayout title={content.title} description={content.description}>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title={content.heroTitle}
        tagline={content.heroTagline}
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
