---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "@components/Common/ContactCTA.astro";
import PortfolioPreview from "@components/Portfolio/PortfolioPreview.astro";
import Hero from "@components/Common/Hero.astro";
import Grid from "@components/Common/Grid.astro";

export async function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;

const projects = (
  await getCollection("work", ({ id }) => {
    return id.startsWith(`${lang}/`);
  })
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

const content =
  lang === "en"
    ? {
        title: "My Work",
        description: "Learn about my most recent projects",
        heroTitle: "My Work",
        heroTagline:
          "See my most recent projects below to get an idea of my past experience.",
      }
    : {
        title: "Mis Proyectos",
        description: "Conoce mis proyectos más recientes",
        heroTitle: "Mis Proyectos",
        heroTagline:
          "Echa un vistazo a mis proyectos más recientes para conocer mi experiencia.",
      };
---

<BaseLayout title={content.title} description={content.description}>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title={content.heroTitle}
        tagline={content.heroTagline}
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
